<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="pattern">%d{HH:mm:ss.SSS} %-5level %c{1}(%L) - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
        <RollingFile name="teletask" fileName="${sys:logfile}" append="true" filePattern="${sys:logfile}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="mqtt" fileName="${sys:mqtt.logfile}" append="true" filePattern="${sys:mqtt.logfile}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="ota" fileName="${sys:mqtt.logfile}" append="true" filePattern="${sys:ota.logfile}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="be.xhibit.teletask" level="debug" additivity="false">
            <AppenderRef ref="teletask"/>
        </Logger>
        <Logger name="org.jboss.resteasy" level="debug" additivity="false">
            <AppenderRef ref="teletask"/>
        </Logger>
        <Logger name="be.xhibit.teletask.client.mqtt" level="debug" additivity="false">
            <AppenderRef ref="mqtt"/>
        </Logger>
        <Logger name="be.xhibit.teletask.webapp.rest.ota" level="debug" additivity="false">
            <AppenderRef ref="ota"/>
        </Logger>
    </Loggers>
</Configuration>