@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-cwrokv');
	src:url('fonts/icomoon.eot?#iefix-cwrokv') format('embedded-opentype'),
		url('fonts/icomoon.woff?-cwrokv') format('woff'),
		url('fonts/icomoon.ttf?-cwrokv') format('truetype'),
		url('fonts/icomoon.svg?-cwrokv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:after {
	content: "\e600";
    font-size: 24px;
}
.icon-music:after {
	content: "\e601";
    font-size: 24px;
}
.icon-connection:after {
	content: "\e602";
    font-size: 24px;
}
.icon-bell:after {
	content: "\e603";
    font-size: 24px;
}
.icon-tv:after {
	content: "\e604";
    font-size: 24px;
}
.icon-key:after {
	content: "\e605";
    font-size: 24px;
}
.icon-equalizer:after {
	content: "\e606";
    font-size: 24px;
}
.icon-cog:after {
	content: "\e607";
    font-size: 24px;
}
.icon-switch:after {
	content: "\e608";
    font-size: 24px;
}
.icon-menu:after {
	content: "\e609";
    font-size: 24px;
}
.icon-eye:after {
	content: "\e60a";
    font-size: 24px;
}
.icon-brightness-contrast:after {
	content: "\e60b";
    font-size: 24px;
}


/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
