<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>TeleTask REST API</display-name>

    <!--
    <servlet>
        <servlet-name>TeletaskServlet</servlet-name>
        <servlet-class>be.xhibit.teletask.servlet.TeletaskServlet</servlet-class>

        <init-param>
            <param-name>testMode</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeletaskServlet</servlet-name>
        <url-pattern>/ui/api</url-pattern>
    </servlet-mapping>
    -->

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
